:root {
    --gradient-start-contact: rgb(13, 231, 71);
    --gradient-end-contact: rgb(2, 205, 251);
    --gradient-start-projects: rgb(10, 238, 219);
    --gradient-end-projects: rgb(49, 16, 233);
    --gradient-start-home: blue;
    --gradient-end-home: purple;
}

@property --gradient-start {
    syntax: "<color>";
    inherits: true;
    initial-value: blue;
}

@property --gradient-end {
    syntax: "<color>";
    inherits: true;
    initial-value: purple;
}

.gradient-text {
    font-size: 25em;
    color: transparent;
    background:  linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    -webkit-background-clip: text;
    background-clip: text;
    transition-property: --gradient-start, --gradient-end;
    transition-duration: 2s;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: rgb(29, 22, 43);
}