:root {
    --gradient-start: blue;
    --gradient-end: purple;
}

.gradient-text {
    /* font-size: 25em; */
    color: transparent;
    background:  linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
    -webkit-background-clip: text;
    background-clip: text;
    transition: background 0.5s ease;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: rgb(29, 22, 43);
}