@import "./App.css";


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.title {
    font-size: 5em;
    font-weight: 500;
    margin-bottom: 0;
}
