nav {
    display: flex;
    align-items: center;
}

.nav-main::before,
.nav-main::after {
    content: 'ğ„•';
    font-size: 10em;
    color: transparent;
    background:  linear-gradient(to bottom, blue, purple);
    -webkit-background-clip: text;
    background-clip: text;
}

.nav-main::after {
    transform: scaleX(-1);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0px;
}